@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
.whole-container{
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  /* display table is for display the container next to eachother like a row
  width 100 for display the whole window */
}
.left-half-img-srs{
  background-image: url("../pictures/New_Project.png");
    font-family: Arial, Helvetica, sans-serif;
    width:50%;
    align-content:flex-start;
    background-repeat:no-repeat;
    background-size: cover;
    
    /* height: 125vh;
    background-size: cover;
    background-position: center; */
}


.Login-container-right-half{
   /* position:fixed;
  right: 0px; */
  width: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  

}
.header {
  
    color:slateblue;
    font-size: 50px;
    font-family: 'Rochester', cursive;
    font-weight: bold; 
}
.content{

  /* width: 50%;
  height: 100%; */
  width: 50%;
}

.Form {
    border: 5px solid steelblue; 
    /* padding: 50px;  */
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

input[type=text], input[type=password] {
 
  }
  
 .btn{
    background-color: slateblue;
    color: white;
    padding: 15px 15px;
    margin: 10px 55px;
    border: none;
    cursor: pointer;
    font-size: large;
  }
  .avatar {
    width: 10%;
    border-radius: 25%;
  }
